-i https://pypi.python.org/simple/
attrs==20.3.0
beautifulsoup4==4.8.2
mccabe==0.6.1
more-itertools==8.7.0
packaging==20.9
pluggy==0.13.1
py==1.10.0
pycodestyle==2.7.0
pydocstyle==6.0.0
pyflakes==2.3.0
pylama==7.7.1
pyparsing==2.4.7
pytest==5.4.1
snowballstemmer==2.1.0
soupsieve==2.2.1
wcwidth==0.2.5
