attrs==18.2.0
beautifulsoup4==4.7.1
Jinja2==2.10
MarkupSafe==1.1.0
more-itertools==6.0.0
pendulum==2.0.4
pluggy==0.8.1
py==1.8.0
pytest==4.3.0
python-dateutil==2.8.0
pytz==2018.9
pytzdata==2018.9
six==1.12.0
tzlocal==1.5.1
