<!DOCTYPE html>
<html>
<head>
  <title>{{ title }}</title>
  <meta charset="utf-8">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/hint.css/2.4.1/hint.min.css" integrity="sha256-7KczUWqIa/6KaIKtNfG18eilVQR4vJ4S9SSiDAplUwc=" crossorigin="anonymous">
  <meta name="referrer" content="no-referrer">
  <script src="https://cdn.jsdelivr.net/momentjs/2.17.1/moment.min.js" integrity="sha256-Gn7MUQono8LUxTfRA0WZzJgTua52Udm1Ifrk5421zkA=" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/momentjs.timezone/0.5.11/moment-timezone.min.js" integrity="sha256-bQKm6Vad2GIsQ5ap2TI/hKKtRSglZhGfFINwoh/sQ48=" crossorigin="anonymous"></script>
  <style type="text/css">
    body {
      padding-top: 50px;
    }
  </style>
  <script type="text/javascript">
    function convertToLocalTimezone(dateString) {
      return Date(dateString).toLocaleString()
    }
  </script>
</head>
<body>
<div class="container-fluid">
  <nav class="navbar navbar-default navbar-fixed-top"><div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">{{ title }}</a>
    </div>
    <ul class="nav navbar-nav">
      {% for sid, _ in servers %}
        <li><a href="#sid{{ sid }}">Server {{ sid }}</a></li>
      {% endfor %}
     </ul>
     {% if debug %}
     <p class="navbar-text navbar-right" style="color: red; padding-right: 10px;">debug mode</p>
     {% endif %}
  </div></nav>
  {% for server in servers %}
    <h1 class="page-header" onclick="window.location = '#sid{{ server.sid }}'" id="sid{{ server.sid }}">Server {{ server.sid }}</h1>
    {% include 'stats.jinja2' %}
  {% endfor %}
  <small>Generated by <a href="https://github.com/Thor77/TeamspeakStats" rel="noopener">TeamspeakStats</a> at <div class="timestamp">{{ creation_time|frmttime }}</div></small>
</div>
</body>
</html>
